@font-face {
    font-family: 'HankenGrotesk';
    font-display: swap;
    font-weight: 100 900;
    src: url('./assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
}

:root {
    --clr-primary-red: hsl(0, 100%, 67%);
    --clr-primary-yellow: hsl(39, 100%, 56%);
    --clr-primary-teal: hsl(166, 100%, 37%);
    --clr-primary-blue: hsl(234, 85%, 45%);

    --clr-gradient-bg-light: hsl(252, 100%, 67%);
    --clr-gradient-bg-dark: hsl(241, 81%, 54%);
    --clr-gradient-circle-light: hsla(256, 72%, 46%, 1);
    --clr-gradient-circle-dark: hsla(241, 72%, 46%, 0);

    --clr-neutral-white: hsl(0, 0%, 100%);
    --clr-neutral-pale: hsl(221, 100%, 96%);
    --clr-neutral-light: hsl(241, 100%, 89%);
    --clr-neutral-dark: hsl(224, 30%, 27%);

    --font-family: 'HankenGrotesk';

    --fw-regular: 500;
    --fw-bold: 700;
    --fw-black: 800;

    --fs-400: 1.125rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 1.75rem;
    --fs-800: 2rem;
    --fs-900: 5rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
}

img,
svg {
    display: block;
    max-width: 100%;
}

button,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* .attribution {
    font-size: 11px;
    text-align: center;
}
    
.attribution a {
    color: hsl(228, 45%, 44%);
} */